package <%=package%>;

import com.epic.framework.common.Ui.EpicBitmap;

public class EpicImages {<%
 _.map(images, function (image) {
%>
  public static EpicBitmapReference <%=image.name%> = new EpicImageReference("<%=image.name%>");<%
 } %>
}
